// Font Variables
$headline:Gloria Hallelujah;
$headline-fb:cursive;
$body:Shadows Into Light;
$body-fb:cursive;

$headine-font-size:150px;

@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Shadows+Into+Light');
